<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>
<h2>
    <br>
    profile:
    <br>
    <%= @user.profile %>
    <br>
    place:
    <br>
    <%= @user.place %>
    <br>
    publish_email:
    <br>
    <%= @user.publish_email %>
    <br>
</h2>
